$defaultBorder: 1px;
$defaultMPading: 1em;

a{
	text-decoration: none; 
	color: black;
}

h1{
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #bec3dd;
	widht: 15em;
	height: 17em;
	border: 0px solid #ffffff;
	background: #7c8a8f;
	background: -webkit-gradient(linear, left top, left bottom, from(#c2c2c2), to(#7c8a8f));
	background: -webkit-linear-gradient(top, #c2c2c2, #7c8a8f);
	background: -moz-linear-gradient(top, #c2c2c2, #7c8a8f);
	background: -ms-linear-gradient(top, #c2c2c2, #7c8a8f);
	background: -o-linear-gradient(top, #c2c2c2, #7c8a8f);
	background-image: -ms-linear-gradient(top, #c2c2c2 0%, #7c8a8f 100%);
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;

	input {
		border:none;
	   background: #ffffff;
	   -webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	   border-radius: 6px;
	   color: #000000;
	   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	}

	.submit {
	  position: relative;
	  font-size: 20px;  
	  line-height: 1.5;
	  border-radius: 3px;
	  background: linear-gradient(to right, #3498db 50%, transparent 50%);
	  background-color: rgba(0, 0, 0, 0.3);
	  background-size: 200% 100%;
	  background-position: 100% 0;
	  transition: all 1s ease;
	}

	.submit:before {
	  position: absolute;
	  content: "Submit";
	  top: 2px;
	  bottom: 2px;
	  left: 2px;
	  right: 2px;
	  display: block;
	  background-color: white;
	}

	.submit:active,
	.submit:focus,
	.submit:hover {
	  outline: none;
	  background-position: 0 0;
	  color: white;
	}
}

.dialog {
	border: none;
	width: 15em;
	height: 17em;
	overflow:hidden;
    position:fixed;
    top: 15em;

	input{
		margin: 1.5em;
	}
}

section {
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

header{
	margin: 0.5em;
	background: #8b8d8e;
	opacity: 0.75;
	border-radius: 1em;
	box-shadow: 13px 11px 14px -3px rgba(168,189,219,1);
	width: 99%;
}

@keyframes bouncing{
  0% { box-shadow: 0 0 5px rgba(0,0,0,0.6); }
  100% { border-radius: 0.3em;  border: 1px; background: #a8bddb; box-shadow: 14px 14px 37px 1px rgba(0,0,0,0.75); }
}

nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 0; 
	line-height: 2em; 	

	li{
		list-style-type: none;
		width: 6em;
		height: 2.5em;
		margin: $defaultMPading;
		
		a {
			margin-left: 1em;
			color: white;
		}
	}

	li:hover {
		animation: bouncing 0.65s forwards; 
	}
}

figure{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    max-width: 28em;
}

figcaption{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px 16px;

	a {
	  -webkit-border-radius: 6;
	  -moz-border-radius: 6;
	  border-radius: 6px;
	  -webkit-box-shadow: 2px 3px 7px #666666;
	  -moz-box-shadow: 2px 3px 7px #666666;
	  box-shadow: 2px 3px 7px #666666;
	  font-family: Arial;
	  color: #ffffff;
	  font-size: 23px;
	  background: #3498db;
	  padding: 10px 20px 10px 20px;
	  text-decoration: none;
	  margin: 1em;
	}

	a:hover {
		background: #3cb0fd;
	  	text-decoration: none;
	}
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	background: black;
	height: 5em;
	width: 100%;	
	
	p{
		color:white;
	}
}